@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/*font-family: 'Roboto', sans-serif;*/

$font-family: 'Roboto', sans-serif;
$font-color: #fff;
$bodyFontSize:16px;
$bodyWeight:400;

$font:'Roboto', sans-serif;
$fontColor:#474747;
$lighFont:300;
$regulerFont:400;
$mediumFont:500;
$boldFont:700;
$red: #f16847;
$navBack: #202020;
$whiteColor: #fff;
$blackColor: #000;
$hoverBgColor: #fff;
