@import 'reset';
@import 'variables';
@import 'mixins';

body {
    background: $whiteColor;
    font-family: $font-family;
    font-size: $bodyFontSize;
    font-weight: $bodyWeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: $bodyWeight;

}

@media screen and (min-width:1500px) {
    .container {
        max-width: 1470px;
    }
}

/* Header-Start */

header {
    padding: 20px 0;
    @include media(desktop) {
        & {
            padding: 10px 0;
        }
    }
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .logo {
            padding: 0;
            margin: 0;
            a {
                display: block;
                img {
                    @include media(desktop) {
                        & {
                            width: 85%;
                        }
                    }
                    @include media(iPad) {
                        & {
                            width: 65%;
                        }
                    }
                    @include media(mobile) {
                        & {
                            width: 50%;
                        }
                    }
                }
            }
        }
        .navbar {
            padding: 0;
            @include media(iPad) {
                & {
                    padding: 0;
                    position: static;
                }
                .tel {
                    display: none;
                }
            }

            .navbar-toggler.collapsed {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                -moz-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }
            .navbar-toggler {
                border-radius: 0;
                border: none;
                outline: none;
                padding: 0;
                background: url(../images/menu-icon.png) no-repeat;
                background-position: center;
                background-size: 100%;
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                -moz-transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;

            }

            @include media(iPad) {
                .navbar-collapse {
                    position: absolute;
                    top: 100%;
                    background: #fff;
                    right: 0;
                    left: 0;
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
            @include media(mobile-s) {
                .navbar-collapse {
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }

            & ul {
                & li {
                    padding: 0 25px;
                    @include media(desktop) {
                        & {
                            padding: 0 12px;
                        }
                    }
                    @include media(iPadLand) {
                        & {
                            padding: 0 10px;
                        }
                    }
                    @include media(iPad) {
                        & {
                            padding: 10px 0;
                            text-align: center;
                            border-bottom: 1px solid #18b332;
                        }
                    }
                    & a {
                        font-size: 18px;
                        text-transform: uppercase;
                        color: $fontColor;
                        font-family: $font-family;
                        font-weight: $regulerFont;
                        &:hover {
                            color: #18b332;
                        }

                        @include media(desktop) {
                            & {
                                font-size: 15px;
                            }
                        }
                        @include media(iPadLand) {
                            & {
                                font-size: 14px;
                            }
                        }
                    }

                }
                & .current-menu-item {
                    & a {
                        color: #18b332;
                    }
                }
            }
            & .tel {
                margin-left: 20px;
                @include media(desktop) {
                    & {
                        margin-left: 20px;
                    }
                }
                @include media(iPad) {
                    & {
                        padding-left: 5px;
                    }
                }
                & a {
                    background: #18b332;
                    padding: 12px 30px;
                    font-size: 24px;
                    color: #fff;
                    font-family: $font-family;
                    font-weight: $boldFont;
                    border-radius: 2px;
                    animation: blink 0.5s ease-in-out infinite;
                    text-shadow: 0px 0px 1px #18b332,
                    0px 0px 2px #18b332,
                    0px 0px 4px #fff,
                    0px 0px 6px #fff,
                    0px 0px 25px #18b332,
                    0px 0px 40px #18b332;
                    &:hover {
                        background: #0e691d;
                    }
                    & i {
                        font-size: 24px;
                        padding-right: 5px;
                        @include media(iPadLand) {
                            & {
                                font-size: 20px;
                            }
                        }
                        @include media(iPad) {
                            & {
                                font-size: 16px;
                            }
                        }
                    }
                    @include media(desktop) {
                        & {
                            padding: 10px 25px;
                            font-size: 18px;
                            & i {
                                font-size: 18px;
                            }
                        }
                    }
                    @include media(iPadLand) {
                        & {
                            font-size: 16px;
                            padding: 10px 15px;
                        }
                    }
                    @include media(iPad) {
                        & {
                            animation: none;
                            font-size: 14px;
                        }
                    }
                }

                @keyframes blink {
                    0% {
                        text-shadow: 0px 0px 1px #18b332,
                        0px 0px 2px #18b332,
                        0px 0px 4px #fff,
                        0px 0px 6px #fff,
                        0px 0px 25px #18b332,
                        0px 0px 40px #18b332;
                    }
                    50% {
                        text-shadow: 0px 0px 1px #18b332,
                        0px 0px 2px #18b332,
                        0px 0px 4px #fff,
                        0px 0px 6px #fff,
                        0px 0px 20px #18b332,
                        0px 0px 30px #18b332;
                    }
                    100% {
                        text-shadow: 0px 0px 1px #18b332,
                        0px 0px 2px #18b332,
                        0px 0px 4px #fff,
                        0px 0px 6px #fff,
                        0px 0px 25px #18b332,
                        0px 0px 40px #18b332;
                    }
                }
            }
        }
    }
}

/*  Banner-Section */

section.banner {
    @include background-pro;
    height: 790px;
    position: relative;
    margin-top: 182px;
    @include media(desktop) {
        & {
            height: 560px;
            margin-top: 130px;
        }
    }
    @include media(iPadLand) {
        & {
            height: 450px;
        }
    }
    @include media(iPad) {
        & {
            height: 315px;
            margin-top: 102px;
        }
    }
    @include media(mobile) {
        & {
            height: auto;
            margin-top: 85px;
        }
    }
    @include media(mobile-s) {
        & {
            height: auto;
            margin-top: 82px;
        }
    }
    .banner_content {
        text-align: center;
        padding: 0 10%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        @include media(iPadLand) {
            & {
                padding: 0 5%;
            }
        }
        @include media(iPad) {
            & {
                padding: 0 2%;
            }
        }
        @include media(mobile) {
            & {
                padding: 20px 1%;
                position: relative;
                transform: translateY(0);
                top: 0;
            }
        }
        @include media(mobile-s) {
            & {
                padding: 20px 1%;
                position: relative;
                transform: translateY(0);
                top: 0;
            }
        }
        & h1 {
            font-size: 42px;
            color: #fff;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: $boldFont;
            margin-bottom: 12px;
            & span {
                color: #18b332;
                text-transform: uppercase;
                font-family: $font-family;
                font-weight: $boldFont;
            }
            @include media(desktop) {
                & {
                    font-size: 32px;
                    margin-bottom: 8px;
                }
            }
            @include media(iPadLand) {
                & {
                    font-size: 25px;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 22px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
        }
        & p {
            font-size: 28px;
            color: #fff;
            font-family: $font-family;
            font-weight: $regulerFont;
            margin-bottom: 45px;
            @include media(desktop) {
                & {
                    font-size: 22px;
                    margin-bottom: 25px;
                }
            }
            @include media(iPadLand) {
                & {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 16px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
        }
        & a {
            background: #18b332;
            padding: 15px 40px;
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: $boldFont;
            border-radius: 2px;
            &:hover {
                background: #0e691d;
            }
            @include media(desktop) {
                & {
                    padding: 12px 30px;
                    font-size: 18px;
                }
            }
            @include media(mobile) {
                & {
                    padding: 8px 22px;
                    font-size: 14px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 14px;
                    padding: 6px 14px;
                }
            }
        }
    }
}

/*  promo-Section */

section.promo_section {
    padding: 45px 0 70px;
    text-align: center;
    @include media(desktop) {
        & {
            padding: 45px 0 50px;
        }
    }
    @include media(iPad) {
        & {
            padding: 35px 0 40px;
        }
    }
    @include media(mobile) {
        & {
            padding: 25px 0 20px;
        }
    }
    & p {
        font-size: 20px;
        color: #161616;
        line-height: 1.4;
        font-family: $font-family;
        font-weight: $regulerFont;
        margin-bottom: 35px;
        padding: 0 10%;
        & span {
            color: #18b332;
            font-family: $font-family;
            font-weight: $regulerFont;
        }
        @include media(desktop) {
            & {
                font-size: 16px;
                line-height: 1.6;
                margin-bottom: 25px;
            }
        }
        @include media(iPad) {
            & {
                font-size: 14px;
                line-height: 1.6;
                margin-bottom: 20px;
                padding: 0 2%;
            }
        }
        @include media(mobile) {
            & {
                font-size: 14px;
                line-height: 1.6;
                margin-bottom: 10px;
                padding: 0;
            }
        }
    }
    & button {
        color: #fff;
        background: #00c0c7;
        border: 1px solid #00c0c7;
        font-size: 24px;
        color: #fff;
        background: #00c0c7;
        border: 1px solid #00c0c7;
        padding: 12px 30px;
        font-family: $font-family;
        font-weight: $regulerFont;
        margin-bottom: 25px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        letter-spacing: 0.04em;
        &:hover {
            box-shadow: 0px 80px 50px #fff inset;
            color: #00c0c7;
            border: 1px solid #00c0c7;
        }
        @include media(desktop) {
            & {
                font-size: 18px;
                padding: 10px 24px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 14px;
                padding: 10px 24px;
                letter-spacing: 0;
            }
        }
        @include media(mobile-s) {
            & {
                margin-bottom: 10px;
            }
        }
    }
    h5 {
        font-size: 24px;
        color: #18b332;
        font-family: $font-family;
        font-weight: $boldFont;
        text-transform: uppercase;
        @include media(desktop) {
            & {
                font-size: 20px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 14px;
            }
        }
    }
}


/* Benefit-Section */

section.benefit_section {
    background: #f2f2f2;
    padding: 60px 0;
    text-align: center;
    position: relative;
    @include media(desktop) {
        & {
            padding: 50px 0;
        }
    }
    @include media(iPadLand) {
        & {
            padding: 25px 0;
        }
    }
    @include media(mobile) {
        & {
            padding: 25px 0;
        }
    }
    &:after {
        content: '';
        display: block;
        border-style: solid;
        width: 0;
        height: 0;
        line-height: 0;
        border-left: 0px solid #f2f2f2;
        border-top: 40px solid transparent;
        border-right: 40px solid #f2f2f2;
        border-bottom: 0px solid transparent;
        position: absolute;
        left: 48%;
        right: 0;
        transform: rotate(45deg);
        bottom: -17px;
        @include media(mobile) {
            & {
                left: 44%;
            }
        }
    }
    & h2 {
        color: #161616;
        font-size: 40px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-family: $font-family;
        font-weight: $mediumFont;
        &:after {
            content: '';
            background: #18b332;
            height: 4px;
            width: 90px;
            display: block;
            margin: 5px auto 0;
            @include media(mobile) {
                & {
                    height: 2px;
                }
            }
        }
        @include media(desktop) {
            & {
                font-size: 32px;
                padding-bottom: 12px;
            }
        }
        @include media(iPad) {
            & {
                font-size: 26px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 24px;
                padding-bottom: 10px;
            }
        }
    }
    & p {
        font-size: 24px;
        color: #898989;
        text-transform: uppercase;
        font-family: $font-family;
        font-family: $regulerFont;
        padding-bottom: 50px;
        @include media(desktop) {
            & {
                font-size: 20px;
                padding-bottom: 50px;
            }
        }
        @include media(iPad) {
            & {
                font-size: 20px;
                line-height: 1.6;
                padding-bottom: 20px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 18px;
                line-height: 1.6;
                padding-bottom: 10px;
            }
        }
    }

    .benfit {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        padding-bottom: 60px;
        @include media(iPad) {
            & {
                display: block;
            }
        }
        @include media(mobile) {
            & {
                padding-bottom: 35px;
            }
        }
        .benfit_content {
            text-align: left;
            padding-right: 70px;
            @include media(desktop) {
                & {
                    width: 60%;
                }
            }
            @include media(iPadLand) {
                & {
                    width: 90%;
                    padding-right: 50px;
                }
            }
            @include media(iPad) {
                & {
                    padding-right: 0;
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            & strong {
                color: #161616;
                font-size: 24px;
                margin-bottom: 30px;
                display: inline-block;
                text-transform: uppercase;
                font-family: $font-family;
                font-weight: $mediumFont;
                @include media(desktop) {
                    & {
                        font-size: 17px;
                        padding-bottom: 20px;
                        margin-bottom: 0;
                    }
                }
                @include media(iPadLand) {
                    & {
                        font-size: 16px;
                    }
                }
                @include media(iPad) {
                    & {
                        font-size: 14px;
                    }
                }
                @include media(mobile) {
                    & {
                        font-size: 14px;
                        padding-bottom: 10px;
                    }
                }
            }
            & ul {
                padding: 0;
                list-style: none;
                margin: 0;
                & li {
                    margin-bottom: 25px;
                    padding-left: 35px;
                    font-size: 18px;
                    line-height: 18px;
                    color: #616161;
                    position: relative;
                    font-family: $font-family;
                    font-family: $regulerFont;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        background-image: url(../images/right.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 21px;
                        height: 20px;
                        display: block;
                        @include media(mobile) {
                            & {
                                width: 16px;
                                height: 16px;
                                top: 10px;
                            }
                        }
                    }
                    @include media(desktop) {
                        & {
                            font-size: 15px;
                            line-height: 15px;
                            margin-bottom: 18px;
                            padding-left: 35px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    @include media(iPadLand) {
                        & {
                            margin-bottom: 11px;
                        }
                    }
                    @include media(mobile) {
                        & {
                            font-size: 12px;
                            line-height: 18px;
                            margin-bottom: 5px;
                            padding-left: 22px;
                        }
                    }
                }
            }
        }
        & figure {
            padding: 0;
            width: 770px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            @include media(iPad) {
                & {
                    width: 100%;
                }
            }
            & img {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 4;
            }
            &:after {
                content: '';
                position: absolute;
                top: 20px;
                left: -20px;
                right: 20px;
                bottom: -20px;
                background: #d7d7d7;
            }
        }

    }
    .call_today {
        padding: 0 10%;
        @include media(desktop) {
            & {
                padding: 0 5%;
            }
        }
        @include media(mobile) {
            & {
                padding: 0;
            }
        }
        & h5 {
            font-size: 24px;
            color: #18b332;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-family: $font-family;
            font-weight: $boldFont;
            @include media(desktop) {
                & {
                    font-size: 20px;
                    margin-bottom: 8px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
        }
        & strong {
            font-size: 20px;
            line-height: 1.6;
            color: #161616;
            margin-bottom: 15px;
            display: block;
            font-family: $font-family;
            font-family: $regulerFont;
            @include media(desktop) {
                & {
                    font-size: 18px;
                    line-height: 1.6;
                    margin-bottom: 10px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 16px;
                    line-height: 1.4;
                    margin-bottom: 5px;
                }
            }
        }
        & p {
            font-size: 18px;
            color: #616161;
            text-transform: inherit;
            padding-bottom: 25px;
            line-height: 1.6;
            font-family: $font-family;
            font-family: $regulerFont;
            @include media(desktop) {
                & {
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 12px;
                    padding-bottom: 10px;
                }
            }
        }
        & h6 {
            font-size: 24px;
            color: #000000;
            margin-bottom: 12px;
            font-family: $font-family;
            font-weight: $boldFont;
            text-transform: uppercase;
            @include media(desktop) {
                & {
                    font-size: 20px;
                    margin-bottom: 8px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 15px;
                }
            }
        }
        & a {
            background: #18b332;
            padding: 12px 30px;
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            border-radius: 3px;
            display: inline-block;
            &:hover {
                background: #0e691d;
            }
            & i {
                font-size: 24px;
                padding-right: 4px;
            }
            @include media(desktop) {
                & {
                    font-size: 20px;
                    padding: 10px 24px;
                    & i {
                        font-size: 20px;
                    }
                }
            }
            @include media(mobile) {
                & {
                    font-size: 14px;
                    padding: 8px 20px;
                    & i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


/*  Effeactive-Section */

.effective_section {
    padding: 60px 0;
    @include media(iPadLand) {
        & {
            padding: 50px 0 25px;
        }
    }
    @include media(mobile) {
        & {
            padding: 40px 0 25px;
        }
    }
    & h2 {
        text-align: center;
        color: #161616;
        font-size: 40px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-family: $font-family;
        font-weight: $mediumFont;
        &:after {
            content: '';
            background: #18b332;
            height: 4px;
            width: 90px;
            display: block;
            margin: 5px auto 0;
            @include media(mobile) {
                & {
                    height: 2px;
                }
            }
        }
        @include media(desktop) {
            & {
                font-size: 32px;
                padding-bottom: 12px;
            }
        }
        @include media(iPad) {
            & {
                font-size: 26px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 24px;
                padding-bottom: 10px;
            }
        }
        @include media(mobile-s) {
            & {
                font-size: 24px;
                padding-bottom: 10px;
            }
        }
    }
    & p {
        font-size: 24px;
        text-align: center;
        color: #898989;
        text-transform: uppercase;
        font-family: $font-family;
        font-family: $regulerFont;
        padding-bottom: 50px;
        @include media(desktop) {
            & {
                font-size: 20px;
                padding-bottom: 50px;
            }
        }
        @include media(iPad) {
            & {
                font-size: 20px;
                padding-bottom: 20px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 18px;
                padding-bottom: 10px;
            }
        }
        @include media(mobile-s) {
            & {
                font-size: 18px;
                padding-bottom: 8px;
            }
        }
    }
    .effective_content {
        padding: 0;
        .col-md-6 {
            display: flex;
        }
        .col-md-6:last-child {
            display: block;
        }
        .head {
            background: #f6f6f6;
            padding: 20px 25px 15px 15px;
            margin-bottom: 35px;
            @include media(desktop) {
                & {
                    margin-bottom: 25px;
                }
            }
            @include media(mobile) {
                & {
                    padding: 10px 12px 10px;
                    margin-bottom: 15px;
                }
            }
            & strong {
                font-size: 24px;
                color: #161616;
                margin-bottom: 25px;
                display: block;
                font-family: $font-family;
                font-weight: $mediumFont;
                @include media(desktop) {
                    & {
                        font-size: 18px;
                        margin-bottom: 12px;
                    }
                }
                @include media(mobile) {
                    & {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                }
                @include media(mobile-s) {
                    & {
                        font-size: 16px;
                        padding-bottom: 5px;
                    }
                }
            }
            & ul {
                margin: 0;
                list-style: none;
                padding: 0;
                li {
                    margin-bottom: 20px;
                    padding-left: 35px;
                    font-size: 16px;
                    line-height: 1.6;
                    color: #616161;
                    position: relative;
                    font-family: $font-family;
                    font-family: $regulerFont;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        background-image: url(../images/right.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 21px;
                        height: 20px;
                        display: block;
                        @include media(desktop) {
                            & {
                                top: 10px;
                                width: 18px;
                                height: 20px;
                            }
                        }
                        @include media(mobile) {
                            & {
                                top: 10px;
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    & i {
                        color: #000;
                        font-size: 16px;
                        @include media(mobile) {
                            & {
                                font-size: 13px;
                            }
                        }
                    }
                    @include media(desktop) {
                        & {
                            margin-bottom: 12px;
                            padding-left: 30px;
                            font-size: 14px;
                        }
                    }
                    @include media(mobile) {
                        & {
                            margin-bottom: 5px;
                            padding-left: 22px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .thoughts {
            text-align: center;
            padding: 0 15%;
            @include media(desktop) {
                & {
                    padding: 0 15%;
                }
            }
            @include media(iPad) {
                & {
                    padding: 0 5%;
                }
            }
            & h3 {
                font-size: 33px;
                line-height: 1.2;
                margin-bottom: 12px;
                color: #000;
                text-transform: uppercase;
                font-family: $font-family;
                font-weight: $boldFont;
                @include media(desktop) {
                    & {
                        font-size: 26px;
                        margin-bottom: 10px;
                    }
                }
                @include media(iPadLand) {
                    & {
                        font-size: 20px;
                    }
                }
                @include media(mobile) {
                    & {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }
                @include media(mobile-s) {
                    & {
                        font-size: 15px;
                        margin-bottom: 5px;
                    }
                }
            }
            & strong {
                font-size: 24px;
                color: #888888;
                margin-bottom: 12px;
                display: block;
                text-transform: uppercase;
                font-family: $font-family;
                font-weight: $boldFont;
                @include media(desktop) {
                    & {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
                @include media(mobile) {
                    & {
                        font-size: 15px;
                        margin-bottom: 5px;
                    }
                }
            }
            & a {
                background: #18b332;
                padding: 12px 30px;
                font-size: 24px;
                color: #fff;
                text-transform: uppercase;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                border-radius: 3px;
                display: inline-block;
                &:hover {
                    background: #0e691d;
                }
                & i {
                    font-size: 24px;
                    padding-right: 4px;
                }
                @include media(desktop) {
                    & {
                        font-size: 20px;
                        padding: 10px 25px;
                        & i {
                            font-size: 20px;
                        }
                    }
                }
                @include media(mobile) {
                    & {
                        font-size: 14px;
                        padding: 8px 20px;
                        & i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* Parallex */

section.parallax-1 {
    background-image: url(../images/perallex.jpg);
    padding: 65px 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(24, 179, 50, 0.46);
    }
    @include media(mobile) {
        & {
            padding: 30px 0;
            font-size: 16px;
            line-height: 17px;
            margin-bottom: 2px;
        }
    }
    @include media(mobile-s) {
        & {
            padding: 25px 0;
            font-size: 14px;
            line-height: 15px;
        }
    }
    .para_head {
        padding: 60px 0;
        position: relative;
        z-index: 7;
        text-align: center;
        @include media(desktop) {
            & {
                padding: 10px 0;
            }
        }
        @include media(mobile) {
            & {
                padding: 10px 0;
            }
        }
        & h2 {
            font-size: 55px;
            line-height: 55px;
            color: #fff;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: $boldFont;
            @include media(desktop) {
                & {
                    font-size: 38px;
                    line-height: 38px;
                    margin-bottom: 8px;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 5px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 0px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 13px;
                }
            }
        }
        & p {
            font-size: 36px;
            line-height: 36px;
            margin-bottom: 44px;
            color: #fff;
            font-family: $font-family;
            font-family: $regulerFont;
            @include media(desktop) {
                & {
                    font-size: 26px;
                    line-height: 26px;
                    margin-bottom: 35px;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 25px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 12px;
                    margin-top: 0;
                    padding-top: 3px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 13px;
                }
            }
        }
        & strong {
            font-size: 40px;
            line-height: 40px;
            color: #fff;
            margin-bottom: 10px;
            padding-top: 35px;
            display: block;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: $boldFont;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                width: 580px;
                height: 1px;
                background: rgba(255, 255, 255, 0.27);
                left: 50%;
                right: 0;
                transform: translateX(-50%);
                @include media(iPad) {
                    & {
                        width: 100%;
                    }
                }
            }
            @include media(desktop) {
                & {
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 8px;
                    margin-top: 25px;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 26px;
                    line-height: 26px;
                    margin-bottom: 8px;
                    margin-top: 0;
                    padding-top: 22px;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 15px;
                    line-height: 17px;
                    margin-bottom: 5px;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 13px;
                }
            }
        }
        & a {
            font-size: 60px;
            line-height: 60px;
            color: #fff;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: $boldFont;
            &:hover {
                color: #0e691d;
                text-shadow: 0px 0px 12px #fff;
            }
            @include media(desktop) {
                & {
                    font-size: 42px;
                    line-height: 42px;
                    margin-bottom: 0;
                }
            }
            @include media(iPad) {
                & {
                    font-size: 32px;
                    line-height: 32px;
                    margin-bottom: 0;
                }
            }
            @include media(mobile) {
                & {
                    font-size: 18px;
                    line-height: 19px;
                    margin-bottom: 0;
                }
            }
            @include media(mobile-s) {
                & {
                    font-size: 16px;
                }
            }
        }
    }
}

section.business_section {
    padding: 80px 0;
    @include media(desktop) {
        & {
            padding: 60px 0;
        }
    }
    @include media(iPad) {
        & {
            padding: 50px 0;
        }
    }
    @include media(mobile) {
        & {
            padding: 20px 0;
        }
    }
    h2 {
        text-align: center;
        color: #161616;
        font-size: 40px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-family: $font-family;
        font-weight: $mediumFont;
        &:after {
            content: '';
            background: #18b332;
            height: 4px;
            width: 90px;
            display: block;
            margin: 5px auto 0;
            @include media(mobile) {
                & {
                    height: 2px;
                }
            }
        }
        @include media(desktop) {
            & {
                font-size: 32px;
                padding-bottom: 12px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 24px;
                padding-bottom: 10px;
            }
        }
    }
    & p {
        font-size: 24px;
        text-align: center;
        color: #898989;
        text-transform: uppercase;
        font-family: $font-family;
        font-family: $regulerFont;
        padding-bottom: 70px;
        @include media(desktop) {
            & {
                font-size: 20px;
                padding-bottom: 50px;
            }
        }
        @include media(iPad) {
            & {
                padding-bottom: 20px;
            }
        }
        @include media(mobile) {
            & {
                font-size: 18px;
                padding-bottom: 10px;
            }
        }
    }
    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 40px;
        @include media(mobile) {
            & {
                display: block;
                margin-bottom: 15px;

            }
        }
        & figure {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 51%;
            height: 362px;
            @include media(desktop) {
                & {
                    height: 285px;
                }
            }
            @include media(iPad) {
                & {
                    height: 180px;
                }
            }
            @include media(mobile) {
                & {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 10px;
                }
            }
            @include media(iPad) {
                & {
                    height: 140px;
                }
            }
        }
        .article_content {
            padding-left: 55px;
            width: 55%;
            @include media(desktop) {
                & {
                    padding-left: 40px;
                }
            }
            @include media(mobile) {
                & {
                    width: 100%;
                    padding: 0;
                }
            }
            & strong {
                color: #161616;
                font-size: 24px;
                margin-bottom: 10px;
                display: block;
                font-family: $font-family;
                font-weight: $mediumFont;
                @include media(desktop) {
                    & {
                        font-size: 22px;
                        margin-bottom: 7px;
                    }
                }
                @include media(iPad) {
                    & {
                        font-size: 20px;
                        padding-bottom: 5px;
                    }
                }
                @include media(mobile) {
                    & {
                        font-size: 16px;
                        padding-bottom: 0;
                        margin-bottom: 5px;
                    }
                }
            }
            & p {
                font-size: 16px;
                padding: 0;
                margin-bottom: 25px;
                color: #616161;
                line-height: 1.8;
                text-align: left;
                text-transform: inherit;
                font-family: $font-family;
                font-family: $regulerFont;
                @include media(desktop) {
                    & {
                        font-size: 15px;
                        margin-bottom: 20px;
                        line-height: 1.6;
                        margin-bottom: 15px;
                    }
                }
                @include media(iPad) {
                    & {
                        font-size: 14px;
                        padding-bottom: 10px;
                    }
                }
                @include media(mobile) {
                    & {
                        font-size: 13px;
                        padding-bottom: 5px;
                    }
                }
                @include media(mobile-s) {
                    & {
                        font-size: 13px;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
        &:nth-child(odd) {
            .article_content {
                order: -1;
                padding-left: 0;
                padding-right: 55px;
                @include media(desktop) {
                    & {
                        padding-right: 40px;
                        @include media(mobile) {
                            & {
                                padding-right: 0;
                            }
                        }
                    }
                }
                @include media(mobile) {
                    & {

                        padding-left: 0;
                    }
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }


}

footer.footer_section {
    padding: 20px 0;
    background: #18b332;
    .bottom {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        @include media(iPadLand) {
            & {
                display: block;
                text-align: center;
            }
        }
        & ul {
            list-style: none;
            padding: 0;
            margin: 0;
            @include media(iPadLand) {
                & {
                    margin: 0 0 7px;
                }
            }
            & li {
                color: #fff;
                font-size: 16px;
                padding: 0 5px;
                display: inline-block;
                vertical-align: middle;
                @include media(desktop) {
                    & {
                        font-size: 13px;
                        padding: 0 2px;
                    }
                }
                @include media(iPadLand) {
                    & {
                        padding: 0 7px;
                    }
                }

                & a {
                    color: #fff;
                    font-size: 17px;
                    font-family: $font-family;
                    font-family: $regulerFont;
                    &:hover {
                        color: #0e691d;
                        text-shadow: 0px 0px 12px #fff;
                    }
                    @include media(desktop) {
                        & {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        & p {
            color: #fff;
            font-size: 16px;
            font-family: $font-family;
            font-family: $regulerFont;
            @include media(desktop) {
                & {
                    font-size: 14px;
                }
            }
            & span {
                color: #fff;
                font-size: 17px;
                margin-left: 10px;
                font-family: $font-family;
                font-family: $regulerFont;
                @include media(desktop) {
                    & {
                        font-size: 14px;
                    }
                }
            }
            & a {
                color: #fff;
                font-size: 16px;
                font-family: $font-family;
                font-family: $regulerFont;
                &:hover {
                    color: #042109;
                    text-shadow: 0px 2px 5px #fff;
                }
                @include media(desktop) {
                    & {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.CallBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #56c532;
    width: 50px;
    height: 50px;
    display: none;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    @include media(iPad) {
        & {
            display: block;
        }
    }
    @include media(mobile) {
        & {
            display: block;
        }
    }
    @include media(mobile-s) {
        & {
            display: block;
        }
    }
}
